<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('partials/head'); %>
 <title>create</title>
</head>
<body class="create">
  <%- include('partials/header'); %>

       <!--Form-->
       <form method="post" id="post_form">
        <input id="text" placeholder="Description" type="text" maxlength="50" />
        <input id="image" placeholder="Image url" type="url" />
        <input id="likes" placeholder="Number of likes" type="number" />
        <input id="tags" placeholder="Tags" type="text" />
        <input id="owner" placeholder="Owner id" type="" />
        <input id="submit" type="submit" />
    </form>
    <%- include('partials/footer'); %>
    
</body>
</html>