<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Document</title>
</head>
<body>
  <%- include('partials/header'); %>

    <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/dashboard/create" class="btn btn-primary">Create</a>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/dashboard/read" class="btn btn-primary">Read</a>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/dashboard/update" class="btn btn-primary">Update</a>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/dashboard/delete" class="btn btn-primary">Delete</a>
        </div>
      </div>
      <%- include('partials/footer'); %>
    
</body>
</html>